<!DOCTYTPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="navbar"></div>
        
        <div id="app">
            <div class = "product">
                <div class="product-image">
                    <img v-bind:src="image" alt="">
                </div>
                <div class="product-main">
                    <div class="product-info">
                        <h1>{{ product }}</h1>
                        <ul>
                            <li v-for="detail in details">{{ detail }}</li>
                        </ul>
                    </div>
                    <div class="product-instock">
                        <p v-if="inventory > 10">In stock</p>
                        <!-- Use <p v-show=""> to not show the out of stock element. -->
                        <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                        <p v-else> Out of stock </p>
                    </div>
                    <div v-for="variant in variants" 
                        :key="variant.varaintId"
                        class="color-box"
                        :style="{ backgroundColor:  variant.variantColor }"
                        @mouseover="updateProduct(variant.variantImage)">
                    </div>
                    <button v-on:click="addToCart" 
                            :disabled="!inStock"
                            :class="{ 'disabled-button': !inStock }">Add to cart</button>
                            <p :class="{ textDecoration: inStock }">Out of Stock</p>
                    <div class="cart">
                        <p>Cart {{ cart }}</p>
                    </div>
                    <button id="warning-button" v-on:click="removeFromCart">Remove from cart</button>
                </div>
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
    </body>
</html>